.page-title {
  color: $blue;
  font-size: $xl-size;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: .5rem;
  margin-top: 0;
  padding-bottom: .25em;
  padding-top: 0;
  text-align: center;
}

.page-blurb {
  color: white;
  font-size: $m-size;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: .5em;
  margin-top: 0;
  padding-bottom: 1em;
  padding-top: 0;
  text-align: center; 
}

.loading-gigs {
  align-items: center;
  animation: pulse 500ms infinite ease-out;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@keyframes pulse {
  to {
    transform: scale(2, 2) scale(1, 1);
  }
}

.loading-plays {
  align-items: center;
  animation: swing 1000ms infinite linear;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@keyframes swing {
  to {
    transform: translate(-2rem) translate(4rem);
  }
}

@media (max-width: $desktop-breakpoint) {
  .page-title {
    font-size: $l-size;
  }
}