.page-title {
  color: $blue;
  font-size: $xl-size;
  font-weight: bold;
  line-height: 1.4;
  margin-bottom: .5rem;
  margin-top: 0;
  padding-bottom: .25em;
  padding-top: 0;
  text-align: center;
}

.page-blurb {
  color: white;
  font-size: $m-size;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: .5em;
  margin-top: 0;
  padding-bottom: 1em;
  padding-top: 0;
  text-align: center; 
}

.loading-gigs {
  align-items: center;
  animation: pulse 900ms infinite ease-out;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@keyframes pulse {
  0% {
    transform: scale(1, 1);
  }
  10% {
    transform: scale(1.8, 1.8);
  }
}

.loading-plays {
  align-items: center;
  animation: swing 2.5s infinite linear;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@keyframes swing {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(2rem);
  }
  50% {
    transform: translate(0);
  }
  75% {
    transform: translate(-2rem);
  }
  100% {
    transform: translate(0);
  }
}

@media (max-width: $desktop-breakpoint) {
  .page-title {
    font-size: $l-size;
  }
}