.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vertical-align {
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}

.top-bar-right {
  text-align: right;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link {
    font-weight: bold;
  }
}

@media (min-width: $desktop-breakpoint) {
  
}