.fixed {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  z-index: 99;
}

.vertical-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;
}

.vertical-align {
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}