.vertical-align {
  display: flex;
  justify-content: space-around;
  align-items: center;
  // padding-left: 3rem;
}

.vertical-align {
  &::before {
    display: none;
  }

  &::after {
    display: none;
  }
}