.add-button {
  background-color: $green;
  border-radius: 5px;
  color: $dark-blue;
  display: block;
  font-size: $s-size;
  margin: auto;
  margin-bottom: 2rem;
  // margin-top: 2rem;
  padding: 0.75rem 2.5rem;
  position: relative;
  top: 2rem;
}

.add-button:focus {
  outline: none !important;
}

select {
  width: 30rem;
}

.description {
  font-size: $xs-size;
  padding: 0.8rem;
  text-align: justify;
}

.duration {
  text-align: center;
  font-size: $xs-size;
  font-weight: bold;
  padding-top: 1rem;
}

.filter {
  padding: $s-size 0 0;
  // padding-left: $s-size;
  // padding-right: $s-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align-last: center;
}

.filter:focus {
  outline: none !important;
}

.form-field {
  // input field
  margin: 0.5rem 0rem;
  display: inline-block;
  float: left;
  width: 50%;
}

.form-label {
  // both label and field container
  padding-top: 0.5rem;
  margin: 0.5rem 1rem;
  display: inline-block;
  float: left;
  clear: left;
  width: 30%;
  text-align: right;
}

.loading {
  align-items: center;
  animation: zRotate 2s infinite linear;
  display: flex;
  justify-content: center;
  padding: 2rem;
}
@keyframes zRotate {
  to {
    transform: rotateZ(1turn);
  }
}

.loading-text {
  padding-top: 10rem;
  text-align: center;
}

.rate-button {
  background: none;
  border: none;
  margin: auto;
  display: block;
}

.rate-button:focus {
  outline: none !important;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-field {
  // background-image: url('');
  font-size: $s-size;
  padding: 0.5rem;
  width: 50%;
  text-align-last: left;
}

.search-field:focus {
  outline: none !important;
}

.sub-heading {
  font-size: $m-size;
  padding: 0.8rem;
}

.topic {
  color: $grey;
  font-size: $ml-size;
  padding-bottom: $s-size;
  text-align: center;
}

.training-item {
  background-color: $off-white;
  color: $light-blue;
  margin: $s-size;
  padding: $s-size;
  position: relative;
  top: 2rem;
}

.view-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  img {
    max-width: 1.3rem;
    max-height: 1.3rem;
    padding-left: 1rem;
    position: relative;
    top: -1rem;
  }
}