select {
  width: 30rem;
}

.description {
  font-size: $xs-size;
  padding: 0.8rem;
  text-align: justify;
}

.duration {
  text-align: center;
  font-size: $xs-size;
  font-weight: bold;
  padding-top: 1rem;
}

.filter {
  padding: $s-size 0 0;
  // padding-left: $s-size;
  // padding-right: $s-size;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align-last: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  }

.sub-heading {
  font-size: $m-size;
  padding: 0.8rem;
}

.topic {
  color: $grey;
  font-size: $ml-size;
  padding-bottom: $s-size;
  text-align: center;
}

.training-item {
  background-color: $off-white;
  color: $light-blue;
  margin: $s-size;
  padding: $s-size;
}