#list-header {
  padding-top: 0.5em;
  padding-bottom: 0.25em;
  color: #00558b;
}

#list-body {
  color: white;
  padding-bottom: 5em;
  ul {
    list-style: decimal;
  }
  a {
    text-decoration: none;
    color: white;
  }
  a:hover {
    color: #1779ba;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }
}
