#background {
    // width: auto;
    // height: 100%;
    // padding: 20px 5%;
    // color: white;
    // font-family: Questrial;
    background-image: url(/app/styles/images/background.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    // text-align:center;
}
