.top-bar, .top-bar ul {
  background-color: $nav-background;
}

.vertical-align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar-right {
  text-align: right;
  position: fixed;
  right: 5%;
}

.top-bar {
  .menu-text {
    color: $nav-text-color;
  }

  .menu > .menu-text > a {
    display: inline;
    padding: 0;
  }

  .active-link {
    font-weight: bold;
  }
}
