// Colours
$dark-blue: #333745;
$blue: #1779ba;
$grey: #333333;
$light-blue: #464b5e;
$off-white: #c0c5da5e;
$purple: #8357c5;
// $nav-background: $grey;
$nav-background: transparent;
$nav-text-color: white;
// Spacing
$s-size: 1.4rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;