// Colours
$dark-blue: #333745;
$blue: #1779ba;
$grey: #333333;
$green: rgb(177, 236, 177);
$light-blue: #464b5e;
$off-white: #e5e7f0d8;
$purple: #8357c5;
// $nav-background: $grey;
$nav-background: transparent;
$nav-text-color: white;
// Spacing
$xs-size: 1.2rem;
$s-size: 1.4rem;
$m-size: 1.6rem;
$ml-size: 2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;